@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0E0E0E;
  --card: #171717;
  --text: #FFFFFF;
  --subtext: #B5B5B5;
  --muted: #7A7A7A;
  --accent: #B11226;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
